body {
  position: relative;
  background-color: black;
  color: white;
}

div {
  padding: 0;
  margin: 0;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.pad-top {
  padding-top: 70px;
}

.no-padding {
  padding-bottom: 0px;
}

.adj-height {
  height: 500px;
}

.bg-color-1 {
  background-color: deepskyblue;
}

.bg-color-2 {
  background-color: gold;
}

.bg-color-3 {
  background-color: magenta;
}

.bg-color-4 {
  background-color: green;
}

.bg-color-5 {
  background-color: red;
}

.bg-color-6 {
  background-color: indigo;
}

.bg-color-7 {
  background-color: orangered;
}

.bg-color-8 {
  background-color: limegreen;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 33.3%; /* IE10 */
  flex: 33.3%;
  max-width: 33.3%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.column video {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

#dear_ally {
  font-family: "Times New Roman", Times, serif, cursive;
  font-style: italic;
  font-stretch: extra-expanded;
  font-size: large;

  margin: 5%-5px 15%-20px;
}

.photo {
  margin: 5%-5px 15%-20px;
}

#header {
  font-size: 30px;
  transition: 0.2s;
}
