.body {
  position: relative;
  background-color: black;
  color: white;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.pad-top {
  padding-top: 70px;
}

.no-padding {
  padding-bottom: 0px;
}

.adj-height {
  height: 500px;
}

.bg-color-1 {
  background-color: deepskyblue;
}

.bg-color-2 {
  background-color: gold;
}
